.mew-app-lock:before {
  content: "\e900";
}
.mew-app-phone:before {
  content: "\e901";
}
.mew-app-star:before {
  content: "\e902";
}
.mew-arrow-bracket:before {
  content: "\e903";
}
.mew-arrow-history:before {
  content: "\e904";
}
.mew-arrow-redo:before {
  content: "\e905";
}
.mew-arrow-round:before {
  content: "\e906";
}
.mew-arrow-thick:before {
  content: "\e907";
}
.mew-arrow-thin:before {
  content: "\e908";
}
.mew-arrow-trangle:before {
  content: "\e909";
}
.mew-auth-analysis:before {
  content: "\e90a";
}
.mew-auth-beaker:before {
  content: "\e90b";
}
.mew-auth-cargo:before {
  content: "\e90c";
}
.mew-auth-chemistry:before {
  content: "\e90d";
}
.mew-auth-conduct:before {
  content: "\e90e";
}
.mew-auth-flask:before {
  content: "\e90f";
}
.mew-auth-order:before {
  content: "\e910";
}
.mew-auth-product:before {
  content: "\e911";
}
.mew-auth-purchase:before {
  content: "\e912";
}
.mew-auth-stock:before {
  content: "\e913";
}
.mew-btn-check-off:before {
  content: "\e914";
}
.mew-btn-check-on:before {
  content: "\e915";
}
.mew-btn-screen-full:before {
  content: "\e916";
}
.mew-btn-screen-toggle:before {
  content: "\e917";
}
.mew-btn-search:before {
  content: "\e918";
}
.mew-btn-tab-blank:before {
  content: "\e919";
}
.mew-btn-video-round:before {
  content: "\e91a";
}
.mew-btn-video-youtube:before {
  content: "\e91b";
}
.mew-btn-volume-high:before {
  content: "\e91c";
}
.mew-btn-volume-low:before {
  content: "\e91d";
}
.mew-btn-volume-mute:before {
  content: "\e91e";
}
.mew-btn-volume-off:before {
  content: "\e91f";
}
.mew-building-academy:before {
  content: "\e920";
}
.mew-building-storage:before {
  content: "\e921";
}
.mew-building-warehouse:before {
  content: "\e922";
}
.mew-doc-bar:before {
  content: "\e923";
}
.mew-doc-cam-fill:before {
  content: "\e924";
}
.mew-doc-cam-outline:before {
  content: "\e925";
}
.mew-doc-code-dark:before {
  content: "\e926";
}
.mew-doc-code-light:before {
  content: "\e927";
}
.mew-doc-dilimiter:before {
  content: "\e928";
}
.mew-doc-file:before {
  content: "\e929";
}
.mew-doc-github:before {
  content: "\e92a";
}
.mew-doc-mark:before {
  content: "\e92b";
}
.mew-doc-search-fill:before {
  content: "\e92c";
}
.mew-doc-search-outline:before {
  content: "\e92d";
}
.mew-doc-square:before {
  content: "\e92e";
}
.mew-face-dissatisfied:before {
  content: "\e92f";
}
.mew-face-neutral:before {
  content: "\e930";
}
.mew-face-outlet:before {
  content: "\e931";
}
.mew-face-satisfied:before {
  content: "\e932";
}
.mew-food-bowl:before {
  content: "\e933";
}
.mew-food-lemon:before {
  content: "\e934";
}
.mew-form-close:before {
  content: "\e935";
}
.mew-form-create:before {
  content: "\e936";
}
.mew-form-create-file:before {
  content: "\e937";
}
.mew-form-delete-dark:before {
  content: "\e938";
}
.mew-form-delete-fill:before {
  content: "\e939";
}
.mew-form-delete-light:before {
  content: "\e93a";
}
.mew-form-expand-off:before {
  content: "\e93b";
}
.mew-form-expand-on:before {
  content: "\e93c";
}
.mew-form-file-download:before {
  content: "\e93d";
}
.mew-form-file-drop:before {
  content: "\e93e";
}
.mew-form-file-exit:before {
  content: "\e93f";
}
.mew-form-mark:before {
  content: "\e940";
}
.mew-form-minus-outline:before {
  content: "\e941";
}
.mew-form-minus-round:before {
  content: "\e942";
}
.mew-form-multi-square:before {
  content: "\e943";
}
.mew-form-plus-dashed:before {
  content: "\e944";
}
.mew-form-plus-outline:before {
  content: "\e945";
}
.mew-form-plus-round:before {
  content: "\e946";
}
.mew-form-plus-square:before {
  content: "\e947";
}
.mew-form-print:before {
  content: "\e948";
}
.mew-form-sharp:before {
  content: "\e949";
}
.mew-form-square-add:before {
  content: "\e94a";
}
.mew-form-square-delete:before {
  content: "\e94b";
}
.mew-google-plus:before {
  content: "\e94c";
}
.mew-kit-ada:before {
  content: "\e94d";
}
.mew-kit-biohazard:before {
  content: "\e94e";
}
.mew-kit-bnb:before {
  content: "\e94f";
}
.mew-kit-brain:before {
  content: "\e950";
}
.mew-kit-comp:before {
  content: "\e951";
}
.mew-kit-fingerprint:before {
  content: "\e952";
}
.mew-kit-miota:before {
  content: "\e953";
}
.mew-kit-qrcode:before {
  content: "\e954";
}
.mew-kit-taichi:before {
  content: "\e955";
}
.mew-kit-umbrella:before {
  content: "\e956";
}
.mew-kit-voiceprint:before {
  content: "\e957";
}
.mew-kit-welcome:before {
  content: "\e958";
}
.mew-level-award:before {
  content: "\e959";
}
.mew-level-medal:before {
  content: "\e95a";
}
.mew-level-military:before {
  content: "\e95b";
}
.mew-level-random:before {
  content: "\e95c";
}
.mew-level-safe:before {
  content: "\e95d";
}
.mew-level-star:before {
  content: "\e95e";
}
.mew-level-star-fill:before {
  content: "\e95f";
}
.mew-level-star-round:before {
  content: "\e960";
}
.mew-level-upgrade:before {
  content: "\e961";
}
.mew-list-edit-pen:before {
  content: "\e962";
}
.mew-list-edit-thick:before {
  content: "\e963";
}
.mew-list-edit-thin:before {
  content: "\e964";
}
.mew-list-filter:before {
  content: "\e965";
}
.mew-list-select-confirm:before {
  content: "\e966";
}
.mew-list-selected-all:before {
  content: "\e967";
}
.mew-list-selected-none:before {
  content: "\e968";
}
.mew-list-select-empty:before {
  content: "\e969";
}
.mew-list-select-fill:before {
  content: "\e96a";
}
.mew-list-sort-arrow_down:before {
  content: "\e96b";
}
.mew-list-sort-arrow_up:before {
  content: "\e96c";
}
.mew-list-sort-asc:before {
  content: "\e96d";
}
.mew-list-sort-desc:before {
  content: "\e96e";
}
.mew-logo-sunheight:before {
  content: "\e96f";
}
.mew-mail-envelope-closed:before {
  content: "\e970";
}
.mew-mail-envelope-fill:before {
  content: "\e971";
}
.mew-mail-envelope-opened:before {
  content: "\e972";
}
.mew-mail-envelope-outline:before {
  content: "\e973";
}
.mew-mail-notify-bell:before {
  content: "\e974";
}
.mew-mail-notify-round:before {
  content: "\e975";
}
.mew-msg-contacts:before {
  content: "\e976";
}
.mew-msg-round-fill:before {
  content: "\e977";
}
.mew-msg-round-outline:before {
  content: "\e978";
}
.mew-msg-square-fill:before {
  content: "\e979";
}
.mew-msg-square-outline:before {
  content: "\e97a";
}
.mew-msg-thumb:before {
  content: "\e97b";
}
.mew-pay-card-affirm:before {
  content: "\e97c";
}
.mew-pay-card-checked:before {
  content: "\e97d";
}
.mew-pay-credit:before {
  content: "\e97e";
}
.mew-pay-dollar:before {
  content: "\e97f";
}
.mew-pay-wallet:before {
  content: "\e980";
}
.mew-setting-archive:before {
  content: "\e981";
}
.mew-setting-calendar:before {
  content: "\e982";
}
.mew-setting-option-gear:before {
  content: "\e983";
}
.mew-setting-option-panel:before {
  content: "\e984";
}
.mew-setting-option-slide:before {
  content: "\e985";
}
.mew-setting-phone:before {
  content: "\e986";
}
.mew-setting-save-fill:before {
  content: "\e987";
}
.mew-setting-save-outline:before {
  content: "\e988";
}
.mew-setting-switch-left:before {
  content: "\e989";
}
.mew-setting-switch-right:before {
  content: "\e98a";
}
.mew-setting-switch-toggle_off:before {
  content: "\e98b";
}
.mew-setting-switch-toggle_on:before {
  content: "\e98c";
}
.mew-site-badge:before {
  content: "\e98d";
}
.mew-site-square:before {
  content: "\e98e";
}
.mew-site-target:before {
  content: "\e98f";
}
.mew-state-bling-rise:before {
  content: "\e990";
}
.mew-state-bling-twinkle:before {
  content: "\e991";
}
.mew-state-hint-achieve:before {
  content: "\e992";
}
.mew-state-hint-bad:before {
  content: "\e993";
}
.mew-state-hint-caution:before {
  content: "\e994";
}
.mew-state-hint-info:before {
  content: "\e995";
}
.mew-state-hint-query:before {
  content: "\e996";
}
.mew-state-hint-warning:before {
  content: "\e997";
}
.mew-state-laberty:before {
  content: "\e998";
}
.mew-state-note-done:before {
  content: "\e999";
}
.mew-state-note-signal:before {
  content: "\e99a";
}
.mew-ui-drag:before {
  content: "\e99b";
}
.mew-ui-image:before {
  content: "\e99c";
}
.mew-ui-link-attach:before {
  content: "\e99d";
}
.mew-ui-link-chain:before {
  content: "\e99e";
}
.mew-ui-link-needle:before {
  content: "\e99f";
}
.mew-ui-menu-bar:before {
  content: "\e9a0";
}
.mew-ui-menu-box:before {
  content: "\e9a1";
}
.mew-ui-option:before {
  content: "\e9a2";
}
.mew-ui-org-dot:before {
  content: "\e9a3";
}
.mew-ui-org-tree:before {
  content: "\e9a4";
}
.mew-ui-refresh:before {
  content: "\e9a5";
}
.mew-ui-top:before {
  content: "\e9a6";
}
.mew-ui-topic:before {
  content: "\e9a7";
}
.mew-user-avator:before {
  content: "\e9a8";
}
.mew-user-crypted-invalid:before {
  content: "\e9a9";
}
.mew-user-crypted-valid:before {
  content: "\e9aa";
}
.mew-user-favorite-fill:before {
  content: "\e9ab";
}
.mew-user-favorite-outline:before {
  content: "\e9ac";
}
.mew-user-lock-closed:before {
  content: "\e9ad";
}
.mew-user-lock-opened:before {
  content: "\e9ae";
}
.mew-user-profile-fill:before {
  content: "\e9af";
}
.mew-user-profile-outline:before {
  content: "\e9b0";
}
.mew-user-pwd-close:before {
  content: "\e9b1";
}
.mew-user-pwd-invalid:before {
  content: "\e9b2";
}
.mew-user-pwd-valid:before {
  content: "\e9b3";
}
